.shopTitle{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}

.products {
    width:100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.product {
    border-radius: 15px;
    width: 200px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width: 300px;
    height: 300px;
}

.product description{
    text-align: center;
}

.product:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
}
.addToCartButn{
    background-color: rgb(255, 255, 255);
    border-radius:10px;
    color: #000000;
    cursor: pointer;
}
.addToCartButn:hover{
    background-color: rgb(0, 0, 0);
    border-radius:10px;
    color: #ffffff;
}

@media screen and (max-width:600px) {
    .product{
        width: 200px;
        height: 400px;
        margin: 50px;
        display: flex;
    }
    .products{
        grid-template-columns: 1fr;
        place-items: center;

    }
    .product img {
        width: 300px;
        height: 300px;
        margin:50px;
    }
}
@media screen and (max-width:900px) and (min-width:600px) {
    .product{
        width: 200px;
        height: 400px;
        margin: 50px;
        display: flex;
    }
    .products{
        grid-template-columns: 1fr 1fr;
        place-items: center;
        justify-content: space-evenly;

    }
    .product img {
        width: 300px;
        height: 300px;
        margin: 50px;
    }
}

@media screen and (max-width:1200px) and (min-width:900px) {
    .product{
        width: 100px;
        height: 400px;
        margin: 100px;
        display: flex;
    }
    .product img {
        width: 200px;
        height: 200px;
        margin: 50px;
    }
}